@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Underdog&display=swap');
/* Disable text selection everywhere */
* {
  user-select: none;
}

.playful{
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  font-style: normal;
  font-size: 200px;
  
 
}
/*   font-family: "Barrio", system-ui;  , font-family: "Prata", serif;*/